  <%= f.error_notification %>

  <div class="fortune-inputs">
    <%= f.input :wykonawca %>
    <%= f.input :tytul %>
    <%= f.input :album %>
    <%= f.input :tekst, :cols => "30", :rows => "10" %>
  </div>

