<%= simple_form_for(@fortune) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :wykonawca %>
    <%= f.input :tytul %>
    <%= f.input :album %>
    <%= f.input :tekst, :cols => "30", :rows => "10" %>
  </div>

    <%= f.button :submit, :class => 'btn btn-success'%> <%= link_to 'Powrót', fortunes_path, :class => 'btn btn-warning'%>
<% end %>
