<h1>Lista Piosenek Napstera</h1>

<table>
  <tr>
    <th>Wykonawca</th>
    <th>Tytuł</th>
    <th>Album</th>
    <th>Tekst</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fortunes.each do |fortune| %>
  <tr>
    <td><%= fortune.wykonawca %></td>
    <td><%= fortune.tytul %></td>
    <td><%= fortune.album %></td>
    <td><%= fortune.tekst %></td>
    <td><%= link_to 'Pokaż', fortune, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edytuj', edit_fortune_path(fortune), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Usuń', fortune, confirm: 'Czy napewno chcesz usunąć?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj Piosenke', new_fortune_path, :class => 'btn btn-primary' %>

