<h1>Lista Piosenek Napstera</h1>
<style>
#lewo {border-left:0; color:#000000;font-family: 'Exo', sans-serif;font-size:15px;}
#lewy {border-left:0;}
#wyk  {text-align:right;}
#wyko  {text-align:right; color:#000000;font-family: 'Exo', sans-serif;font-size:15px;}
#gora {font-family: 'Audiowide', cursive; font-size:14px;}
</style>
<table style="border:0" class="table">
  <header id="gora">
    <th id="wyk">Wykonawca</th>
    <th id="lewy">Tytuł</th>
    <th id="lewy">Album</th>
    <th id="lewy">Tekst</th>
    <th id="lewy"></th>
    <th id="lewy"></th>
    <th id="lewy"></th>
  </header>
<% @fortunes.each do |fortune| %>
  <tr style="border-middle:0">
    <td id="wyko"><%= fortune.wykonawca %></td>
    <td id="lewo"><%= fortune.tytul %></td>
    <td id="lewo"><%= fortune.album %></td>
    <td id="lewo"><%= fortune.tekst %></td>
    <td id="lewo"><%= link_to 'Pokaż', fortune, :class => 'btn btn-mini' %></td>
    <td id="lewo"><%= link_to 'Edytuj', edit_fortune_path(fortune), :class => 'btn btn-mini' %></td>
    <td id="lewo"><%= link_to 'Usuń', fortune, confirm: 'Czy napewno chcesz usunąć?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Dodaj Piosenke', new_fortune_path, :class => 'btn btn-primary' %>

