<h1>Lista Piosenek Napstera</h1>
<style>
#lewo {border-left:0; color:#000000;font-family: 'Exo', sans-serif;font-size:15px;}
#lewy {border-left:0;}
#wyk  {text-align:right;}
#wyko {text-align:right; color:#000000;font-family: 'Exo', sans-serif;font-size:15px;}
#gora {font-family: 'Audiowide', cursive; font-size:14px;}
#activity_info{
margin-left:100px;
bottom:5pt;
right:4pt;
z-index:3;
display:block;
position:absolute;
}
.wyszukiwarka{
margin-top:-50px;
margin-left:-100px;
}
</style>
<%= form_tag request.path, :method => 'get' do %>
  <%= text_field_tag  :search, params[:search], :placeholder => 'Wyszukaj:   Wykonawce Tytuł Album' %>
<% end %>	
<table style="border:0" class="table">
  <thead id="gora">
    <th id="wyk"><%= sortable "wykonawca" %></th>
    <th id="lewy"><%= sortable "tytul", "Tytuł" %></th>
    <th id="lewy"><%= sortable "album" %></th>
    <th id="lewy">Tekst</th>
    <th id="lewy"></th>
    <th id="lewy"></th>
    <th id="lewy"></th>
  </thead>

<% @fortunes.each do |fortune| %>
  <tr style="border-middle:0">
    <td id="wyko"><%= fortune.wykonawca %></td>
    <td id="lewo"><%= fortune.tytul %></td>
    <td id="lewo"><%= fortune.album %></td>
    <td id="lewo"><%= truncate fortune.tekst,length: 20 %></td>
    <td id="lewo"><%= link_to 'Pokaż', fortune, :class => 'btn btn-mini btn-inverse' %></td>
    <% if current_user %>
    <td id="lewo"><%= link_to 'Edytuj', edit_fortune_path(fortune), :class => 'btn btn-mini' %></td>
    <td id="lewo"><%= link_to 'Usuń', fortune, confirm: 'Czy napewno chcesz usunąć?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  <% end %>
</tr>
<% end %>
</table>
<div class="page_info" align="center">
  <%= page_entries_info @fortunes %>
</div>
<div class="pager" align="right">
  <%= will_paginate @fortunes, :container => false %>
</div>
<% if current_user %>
<%= link_to 'Dodaj Piosenke', new_fortune_path, :class => 'btn btn-primary' %>
<% end %>
<div id="activity_info">
<h3><center>Aktywności<%= link_to image_tag("icon-show.gif") %></center></h3>
<div id="activity_show">
<% for activity in @activities %>
  <% if activity.text == 'create' %><%= image_tag("add.png") %>Dodano Piosenkę!<br/>
  <% elsif activity.text == 'update' %><%= image_tag("update.png") %>Edytow. Piosenkę.<br/>
  <% elsif activity.text == 'delete' %><%= image_tag("delete.png") %>Usunięto Piosenkę.<br/>
   <% end %>
    <% end %>
</div>
</div>

