<p id="notice">&nbsp;Piosenka utworzona: <%= @fortune.created_at %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BIG><font color="0066FF"><%= notice %></font></BIG><br>Ostatnia modyfikacja: <%= @fortune.updated_at %></p>

<p>
  <h1><%= @fortune.wykonawca %> - <%= @fortune.tytul %></h1>
</p>

<p>
  <font style="font-family: 'Audiowide', cursive; font-size:14px;"><center><b>Tekst:</b></center></font><br>
  <font style="font-family: 'Exo', sans-serif; font-size:15px; color:black;"><center><%=simple_format h @fortune.tekst %></center></font>
</p>


<%= link_to 'Edytuj', edit_fortune_path(@fortune), :class => 'btn btn-success' %> <%= link_to 'Powrót', fortunes_path, :class => 'btn btn-warning' %>
