
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :hasło %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :Potwierdź_hasło %><br />
      <%= f.password_field :password_confirmation %>
    </div>
<br />

