<%= form_for(@user || User.new) do |f| %>
<div class="rejestracja_domowa">
<br />
  <div class="field">
    <%= f.text_field :username, :class =>"rejestracja",:placeholder => 'Nazwa użytkownika' %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :email, :class =>"rejestracja",:placeholder => 'Email' %>
  </div>
<br />
  <div class="field">
    <%= f.password_field :password, :class =>"rejestracja", :placeholder => 'Hasło', :id => "password"%>
    <div class="password_test"><span id="password_time"></span></div>
  </div>
<br />
  <div class="field">
      <%= f.password_field :password_confirmation, :class =>"rejestracja", :placeholder => 'Powtórz Hasło' %>
    </div>
<%= f.submit :class => 'btn btn-success', :id =>"rejestracja_przycisk", :value => "Zarejestruj"%>
<br />
</div>
<% end %>

