<% title "Edycja Konta" %>
<h1><%= yield(:title) %></h1>
<% if current_user %>
<% if current_user.username == @user.username %>

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <div class="field">
    <%= f.label :avatar %>
    <%=link_to "Zmień", "http://pl.gravatar.com/",:class => 'btn btn-mini btn-inverse' %><br /></div>
<% if (@user.avatarurl.nil?) or (@user.avatarurl == '') %>
<%= label_tag(:pet_dog, "Avatar z url") %><input type="checkbox" name="checkbox_avatar" value="wartość" class="checkbox_avatar" />
<% else %>
<%= label_tag(:pet_dog, "Avatar z url") %><input type="checkbox" name="checkbox_avatar" value="wartość" class="checkbox_avatar" checked/>
<% end %>
<div class="avatarfromurl">
<%= f.text_field :avatarurl, :placeholder => 'URL Avatar-a', :class => "avatar_text_field" %>
</div>
<%= render partial: 'form', locals: { f: f } %>
<div class="efekty_profilu">
<div class="efekty_profilu_napis">
<%=label_tag("Efekty na Profilu") %><br><br>
</div>
<div class="efekty_wnetrze">
<%= label_tag("Ptaki") %><input type="checkbox" name="checkbox_ptaki" value="wartość" class="checkbox_ptaki" ><%= f.text_field :ptaki, :class => "ptaki_text_field" %><br>
<%= label_tag("Kółka") %><input type="checkbox" name="checkbox_kolka" value="wartość" class="checkbox_kolka" /><%= f.text_field :kolka, :class => "kolka_text_field" %><br>
<%= label_tag("Samochód") %><input type="checkbox" name="checkbox_samochod" value="wartość" class="checkbox_samochod" /><%= f.text_field :samochod, :class => "samochod_text_field" %>
</div>
</div>
 <%= f.submit :class => 'btn btn-success', :value => "Zapisz Zmiany"%> <%= link_to 'Powrót', root_url, :class => 'btn btn-warning' %>
<% end %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>
<%= link_to 'Zobacz Konto', @user,:class => 'btn btn-info' %>
