<% title "Edycja Konta" %>
<h1><%= yield(:title) %></h1>
<% if current_user %>
<% if current_user.username == @user.username %>

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <div class="field">
    <%= f.label :avatar %>
    <%=link_to "Zmień", "http://pl.gravatar.com/",:class => 'btn btn-mini btn-inverse' %><br /></div>
<% if (@user.avatarurl.nil?) or (@user.avatarurl == '') %>
<%= label_tag(:pet_dog, "Avatar z url") %><input type="checkbox" name="checkbox_avatar" value="wartość" class="checkbox_avatar" />
<% else %>
<%= label_tag(:pet_dog, "Avatar z url") %><input type="checkbox" name="checkbox_avatar" value="wartość" class="checkbox_avatar" checked/>
<% end %>
<div class="avatarfromurl">
<%= f.text_field :avatarurl, :placeholder => 'URL Avatar-a', :class => "avatar_text_field" %>
</div>
<br/>
<br/>
<%= render partial: 'form', locals: { f: f } %>
 <%= f.submit :class => 'btn btn-success', :value => "Zapisz Zmiany"%> <%= link_to 'Powrót', root_url, :class => 'btn btn-warning' %>
<% end %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>
<%= link_to 'Zobacz Konto', @user,:class => 'btn btn-info' %>
