<h1>Lista Kont</h1>
<% if current_user %>
<%if notice =! '' %>
<p id="notice"><%= notice %></p>
<% end %>
<table>
  <tr>
    <th>User</th>
  </tr>


  <tr>
<% @users.each do |user| %>
    <td><%= image_tag avatar_url(user),:width => 60, :height => 60 %><br/><%= user.username %><br/><%= link_to image_tag("eye.png"), user %>
    <% if current_user.username == user.username %><%= link_to image_tag("edit.png"), edit_user_path(user) %>
<%= link_to image_tag("trash.png"), user, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
<% end %>
  </tr>

</table>

<br />

<%= link_to 'New User', new_user_path %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>

