<p align="right">
  <%= image_tag avatar_url(current_user),:width => 150, :height => 150 %>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Twój Avatar</font>
</p>
<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Username:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;color:#000066;"><%= @user.username %></font>
</p>

<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Email:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;color:#000066;"><%= @user.email %></font>
</p>

<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Crypted password:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:13px;color:#000066;"><%= @user.crypted_password %></font>
</p>

<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Password salt:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;color:#000066;"><%= @user.password_salt %></font>
</p>

<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Persistence token:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:13px;color:#000066;"><%= @user.persistence_token %></font>
</p>
<%= link_to 'Edytuj', edit_user_path(@user), :class => 'btn btn-success'%><%= link_to 'Powrót', fortunes_path, :class => 'btn btn-warning' %>
