<% if @user.ptaki == '1' %>
<div id="container"></div>
<script src="http://napsterug.herokuapp.com/ptaki.js"></script>
<% elsif @user.kolka == '1' %>
<canvas height="619" width="1366"></canvas>
<script src="http://napsterug.herokuapp.com/kolka.js"></script>
<% elsif @user.samochod == '1' %>
<canvas height="619" width="1366"></canvas>
<script src="http://napsterug.herokuapp.com/kolka2.js"></script>
<% elsif @user.szesciany == '1' %>
<canvas height="619" width="1366"></canvas>
<script src="http://napsterug.herokuapp.com/szesciany.js"></script>
<% elsif @user.woda == '1' %>
<canvas height="648" width="1366" id="world"></canvas>
<script src="http://napsterug.herokuapp.com/woda.js"></script>
<% end %>
<p class="tymczasowe">
<% if (@user.avatarurl.nil?) or (@user.avatarurl == '') %>
  <%= image_tag avatar_url(@user),:width => 150, :height => 150, :class => "avatar", :id => "avatar_duzy" %><br><br>
  <% else %>
  <%= image_tag(@user.avatarurl, :class => "avatar", :size => "150x150", :id => "avatar_duzy") %><br><br>
  <% end %>
<%= image_tag("avatar_border.png", :class => "ramka") %>
</p>

<div class="nick_konta">
  <%= @user.username %>
</div>

<div class="email_konta">
  <%= @user.email %>
</div>

<div class="zaprosiles">
<% if current_user.username == @user.username %>
<font id="szary">Zaprosiłes</font>
<ul>
  <% for friendship in @user.friendships %>
   <li id="niebieski">
     <% if current_user.username == @user.username or current_user.username == friendship.friend.username %>
     <% if (@user.avatarurl.nil?) or (@user.avatarurl == '') %>
      <%= image_tag avatar_url(@user), :width => 60, :height => 60, :title => @user.username, :id => "avatar_maly" %>
      <% else %>
      <%= image_tag(@user.avatarurl, :class => "avatar", :size => "60x60", :title => @user.username, :id => "avatar_maly") %>
      <% end %>
      <%=h friendship.friend.username %>
	(<%= link_to "x", friendship, confirm: 'Jesteś pewnien że chcesz zerwać znajomość?' %>)
      <% end %>
    </li>
   <% end %>
</ul>
<% else %>
<% end %>
</div>

<div class="odpowiedziano">
<font id="szary">Znajomi</font>
<ul style="list-style-type: decimal;">
  <% for user in @user.inverse_friends %>
    <li id="niebieski">
<% if (user.avatarurl.nil?) or (user.avatarurl == '') %>
<%= image_tag avatar_url(user), :width => 60, :height => 60, :title => user.username, :id => "avatar_maly" %>
<% else %>
<%= image_tag(user.avatarurl, :class => "avatar", :size => "60x60", :title => user.username, :id => "avatar_maly") %>
<% end %>
<%= link_to 'x', friendship, confirm: 'Jesteś pewnien że chcesz zerwać znajomość?' %>
<div class="avatar_przekierowanie">
<%= link_to image_tag("nothing.png",:title => user.username), user %>
</div>
<% if current_user.username == user.username %>
<% end %>
</li>
  <% end %>
</ul>
</div>
<div class="przyciski">
<%= link_to 'Edytuj', edit_user_path(@user), :class => 'btn btn-success'%> <%= link_to 'Powrót', fortunes_path, :class => 'btn btn-warning' %>
</div>
