<style>
#niebieski {font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;color:#000066;}
#szary     {font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;}
.zaprosiles {
margin-top:-50px;
margin-left:70%;
}
.odpowiedziano {
margin-top:-35px;
margin-left:85%;
}
.przyciski {
margin-top:20%;
}
.ramka {
margin-left:83%;
margin-top:-10px;
}
</style>
<p align="right">
  <%= image_tag avatar_url(@user),:width => 150, :height => 150 %><br>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Twój Avatar</font>
</p>
<div class="ramka">
<%= image_tag("avatar_border.png")%>
</div>
<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Username:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;color:#000066;"><%= @user.username %></font>
</p>

<p>
  <font style="font-family:'Audiowide',cursive;font-weight:bold;font-size:16px;">Email:</font>
  <font style="font-family:'Exo',sans-serif;font-weight:bold;font-size:16px;color:#000066;"><%= @user.email %></font>
</p>

<div class="zaprosiles">
<% if current_user.username == @user.username %>
<font id="szary">Zaprosiłeś</font>
<% else %>
<% end %>
<ul>
  <% for friendship in @user.friendships %>
   
    <li id="niebieski">
     <% if current_user.username == @user.username or current_user.username == friendship.friend.username %>
      <%=h friendship.friend.username %>
	(<%= link_to "x", friendship, :method => :delete %>)
      <% end %>
    </li>
   <% end %>
</ul>
</div>

<div class="odpowiedziano">
<% if current_user.username == @user.username %>
<font id="szary">Odpowiedzieli</font>
<% else %>
<font id="szary">Znajomi</font>
<% end %>

<ul>
  <% for user in @user.inverse_friends %>
    <li id="niebieski"><%=h user.username %>(<%= link_to image_tag("eye.png"), user %>)</li>
  <% end %>
</ul>
</div>
<div class="przyciski">
<%= link_to 'Edytuj', edit_user_path(@user), :class => 'btn btn-success'%><%= link_to 'Powrót', fortunes_path, :class => 'btn btn-warning' %>
</div>
