<style>
footer {
display:none;
}
</style>
<% if @user.ptaki == '1' %>
<div id="container"></div>
<script src="http://napsterug.herokuapp.com/ptaki.js"></script>
<% elsif @user.kolka == '1' %>
<canvas height="619" width="1366"></canvas>
<script src="http://napsterug.herokuapp.com/kolka.js"></script>
<% elsif @user.samochod == '1' %>
<canvas height="619" width="1366"></canvas>
<script src="http://napsterug.herokuapp.com/kolka2.js"></script>
<% elsif @user.szesciany == '1' %>
<canvas height="619" width="1366"></canvas>
<script src="http://napsterug.herokuapp.com/szesciany.js"></script>
<% elsif @user.woda == '1' %>
<canvas height="648" width="1366" id="world"></canvas>
<script src="http://napsterug.herokuapp.com/woda.js"></script>
<% end %>
<p class="tymczasowe">
<% if (@user.avatarurl.nil?) or (@user.avatarurl == '') %>
  <%= image_tag avatar_url(@user),:width => 150, :height => 150, :class => "avatar", :id => "avatar_duzy" %><br><br>
  <% else %>
  <%= image_tag(@user.avatarurl, :class => "avatar", :size => "150x150", :id => "avatar_duzy") %><br><br>
  <% end %>
<%= image_tag("avatar_border.png", :class => "ramka") %>
</p>

<div class="nick_konta">
<%= @user.username %>
<% if current_user && (current_user.username != @user.username) && (current_user.inverse_friends.find_by_username(@user.username).nil?) && (current_user.friendships.find_by_friend_id(@user.id).nil?) %>
<%= link_to image_tag("add-friend.png", :title => "Dodaj do znajomych"), friendships_path(:friend_id => @user), :method => :post %>
<% end %>
</div>

<div class="email_konta">
  <%= @user.email %><%= @user.kod_dostepu %><br>
</div>
<div class="piosenki_konta">
Dodał <%= link_to Fortune.find_all_by_user_username(@user.username).count, fortunes_path+"?utf8=✓&search="+@user.username.to_s %> piosenek
</div>

<div class="zaprosiles">
<% if current_user && (current_user.username == @user.username) %>
<font id="szary">Zaprosiłes</font>
<ul>
  <% for friendship in @user.friendships %>
    <% if current_user.username == @user.username or current_user.username == friendship.friend.username %>
     <% if @user.inverse_friends.find_by_username(friendship.friend.username).nil?%>
   <li id="niebieski">
      <% if (friendship.friend.avatarurl.nil?) or (friendship.friend.avatarurl == '') %>
      <%= link_to image_tag(avatar_url(friendship.friend), :width => 60, :height => 60, :title => friendship.friend.username, :id => "avatar_maly"), user = User.find_all_by_username(friendship.friend.username) %>
      <% else %>
      <%= link_to image_tag(friendship.friend.avatarurl, :class => "avatar", :size => "60x60", :title => friendship.friend.username, :id => "avatar_maly"), user = User.find_all_by_username(friendship.friend.username) %>
      <% end %>
	<%= link_to "x", friendship, confirm: 'Jesteś pewnien że chcesz zerwać znajomość?' %>
      <% end %>
     <% end %>
    </li>
   <% end %>
</ul>
<% else %>
<% end %>
</div>

<div class="odpowiedziano">
<font id="szary">Znajomi <%= @user.inverse_friends.count %></font>
<ul style="list-style-type: decimal;">
<% for user in @user.inverse_friends %>
<li id="niebieski">
<% if (user.avatarurl.nil?) or (user.avatarurl == '') %>
<%= link_to image_tag(avatar_url(user), :width => 60, :height => 60, :title => user.username, :id => "avatar_maly"), user %>
<% else %>
<%= link_to image_tag(user.avatarurl, :class => "avatar", :size => "60x60", :title => user.username, :id => "avatar_maly"), user %>
<% end %>
<% if current_user && (current_user.username == @user.username) %>
<%= link_to 'x', friendship, confirm: 'Jesteś pewnien że chcesz zerwać znajomość?' %>
<% end %>
</li>
  <% end %>
</ul>
</div>
<div class="przyciski" style="position:absolute;bottom:30px;">
<%= link_to 'Edytuj', edit_user_path(@user), :class => 'btn btn-success'%> <%= link_to 'Powrót', fortunes_path, :class => 'btn btn-warning' %>
</div>
