<%= simple_form_for(@user_session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :password %>
  </div>

<%= f.check_box :remember_me %><%= f.label :zapamietaj_mnie %>
<br /><br /><br /><br />

    <%= f.button :submit, :class => 'btn btn-success', :value => 'Zaloguj się'%> <%= link_to 'Powrót', root_url,:class => 'btn btn-warning' %>
<% end %>
