<%= simple_form_for(@user_session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :password %>
  </div>

    <%= f.button :submit, :class => 'btn btn-success'%><%= link_to 'Powrót', root_url,:class => 'btn btn-warning' %>
<% end %>
